body, html {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    background-image: url('https://d2o2utebsixu4k.cloudfront.net/media/images/blogs/share_image/8846ed9a-55b2-4486-b1ee-977703b7611f.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.login-container {
    width: 40%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.login-form .form-group {
    margin-bottom: 25px;
    position: relative;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 80%;
    padding: 12px 20px 12px 45px;
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
}

.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0,123,255,0.2);
    outline: none;
}

.login-form .form-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
    font-size: 20px;
}

.error p {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}

.btn{
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    display: block;
    margin-top: 20px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out; 
}

.btn:hover {
    background-color: #0056b3;
}

.account-link {
    margin-top: 20px;
    text-align: center;
    font-size: 16px; 
}

a {
    color: #007bff;
    transition: color 0.3s ease-in-out; 
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        padding: 15px;
        border-radius: 5px; 
    }
}


.login-form .form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc; 
    transition: color 0.3s ease-in-out;
}

.login-form input:focus + i {
    color: #007bff; 
}
