<body>
    <div class="app-container">
        <!-- Sidebar -->
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
                <h2>Companies</h2>
                <mat-nav-list>
                    <a mat-list-item *ngFor="let company of companies" (click)="selectCompany(company)">
                     
                        <mat-icon aria-hidden="false" aria-label="Company logo">business</mat-icon>
                       Flames Comples
                    </a>
                </mat-nav-list>
            </mat-sidenav>

         
            <mat-sidenav-content class="content-area">
                <router-outlet></router-outlet>
                
                <div *ngIf="!selectedCompany" class="placeholder-content">
                    <p>Select a company to view details.</p>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</body>
